html, body, #root {
   margin: 0px;
   height: 100%;
   width: 100%;
}

#app {
    background-color: #636363;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;

    font-family: monospace;
}

.infobar {
    background-color: #545454;
    height:100%;

    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: repeat(12, 1fr);

    border-right: #3D3D3D 5px solid;
}

.header {
    grid-row: 1 / 3;

    background-color: #3D3D3D;
    
    /*font*/ 
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 120%;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #FFFFFF;

}

.orders {
    grid-row: 3 / 6;
    height: 100%;
}

.orders ul {
    height: 100%;
    list-style-type:none;
    padding: 0px;
    margin: 0px;

    overflow:hidden;
    overflow-y: scroll;
    list-style-type: none;
}

.orders ul li {
    padding: 0px;
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 10px;

    display: grid;
    grid-template-columns: 1fr 80px;

    
    font-size: 20px;
}

.orders ul li:hover {
    text-decoration: line-through;
}

.shortBorder {
    grid-row:11 / 13;
}

.total {
    margin-left: 63px;
    margin-right: 63px;
    margin-top: 15px;

    font-size: 30px;

    display: grid;
    grid-template-columns: 1fr 120px;
}

.send {
    margin-top: 15px;
    grid-column: 1 / 3;
    height: 30px;

    font-weight: bold;

    background-color: #9F9F9F;
}

#products {
    grid-column: 2;

    overflow:hidden;
    overflow-y: scroll;
    list-style-type: none;

    margin: 5px;
    padding: 0px;
}

.product {
    margin: 55px;
    background: #474747;
    border-radius: 15px;
}

.product-main {
    background: #3D3D3D;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    display: grid;
    grid-template-columns: 84px 8fr 2fr 84px;
}

.product-extend {
    height: 84px;
    width: 84px;

    background: transparent;
    border: none;
    outline: none;

    cursor:pointer;

    grid-row: 1/2;
}

.product-name {
    grid-column: 2/3;

    font-size: 45px;
    line-height: 111%;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.product-price {
    font-size: 50px;
    line-height: 50px;
    /* identical to box height, or 100% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.product-add {
    border: none;
    outline:none;

    background: #9F9F9F;
    border-radius: 15px;

    height: 84px;
    width: 84px;

    cursor:pointer;

    font-size: 500%;
    color: #3D3D3D;
}

.product-info {
    height: 200px;
}